# FUNCTIONS

Functions are divided into 3 types:-
    1) Pre defined functions 
    2) User defined functions
    3) Anonymous functions--- also known as LAMBDA function
    
    
2)USER DEFINED FUNCTIONS--
There are 2 variables in this -
i)Local variable
ii)Global variable 

Local variables- these are defined within any functions and its lifespan is within the function only.

ex--
      def f1():
        a=10   # this a is local variable 
        
Global variable --these are defined normally in juypter notebook and can be accessed throughout the juypter notebook  that means outside of teh function or in the function.

ex--   x=100  # this x is global variable . this can be accessed anywhere.


note= If you are declaring any variable with in the function, so it will automatically become local variable .

In [1]:
def f1():
    a=10   # this is local variable
    
    print("a=",a)

In [2]:
f1()

a= 10

In [3]:
x=100    # this is global variable

In [4]:
x

100

RETURN KEYWORD**

return is a keyword  which will be returning the values inside the function or no value(void).void means nothing.

In [5]:
def f1():
    a=10
    b=20
    c=a+b
    
    print(c)   # instead of print we will use return

In [6]:
f1()

30

In [11]:
def addfunc():
    a=100
    b=20
    c=a+b
    
    
    print("c=",c)
    return c

In [12]:
addfunc()

c= 120

120

In [13]:
def addfunc():
    a=76
    b=27
    c=a+b
    
    return c

In [14]:
addfunc()

103

** Print statement will only print . it is not equivalent to return .
**Return statement is giving return value.

In [15]:
retvalue=addfunc()

In [16]:
retvalue

103

In [17]:
retvalue%2

1

In [18]:
retvalue**2

10609

Using the retvalue to calculate the area of circle :-

In [33]:
area_of_circle=3.14*(retvalue**2)

In [34]:
area_of_circle

33312.26

In [35]:
retvalue

103

SOMETIME RETVALUE doesnot gives you the value .for example:-

In [36]:
def testf():
    for i in range (10):
        
        print(i)

In [37]:
testf()

0
1
2
3
4
5
6
7
8
9

In [ ]:
now if :--

In [39]:
 
    def testf():
        for i in range (10):
            if i==3:
                return
            print(i)

In [40]:
testf()

0
1
2

***MAJOR DIFFERENCE BETWEEN RETURN AND BREAK FUNCTION***

**Return is used inside the function or if one want to quit the function in between i can retuen but then there i cannot give any value of return.

**Break also work same as return; but break is going to work in for-loop;we cannot use it inside the function.

Break is associated with for-loop and return is associated with functions.

Break is used to break the loop inbetween on a specific condition  whereas, return is used to come out with a value or no value from function .

Print value will not give any value outisde of a function.

Once the returned value is coming in any of the variable ,so that variable becomes the global variable .

In [ ]:
# sign means  - can be used to stop any code  or to write any comment.

In [41]:
def addf(a,b,c):
    d=a+b+c
    
    print(d)

In [42]:
addf(2,3,2)

7

If we want to add 6 or 7 or 8 parameters ;it means that number of corresponding functions we need to write.

In [43]:
def addf(a,b,c,d,e):
    x=a+b+c+d+e
    
    print(x)

In [44]:
addf(10,20,30,40,50)

150

VARIABLE NUMBER OF ARGUMENTS

THIS IS ALSO KNOWN AS * (star argument).it represent number of arguments.

This a kind of function through which we can make the control on different types of numbers in these paracentesis.

*- wild card character means any number of character or argument(a,b)(a,b,c)

In [45]:
def testf_add(*args):
    return sum(args)

In [46]:
testf_add(5,5,5)

15

sum is a inbulid function and is used in aggregation.

variable number of arguments will be working on aggregrate function

In [47]:
testf_add(5,10,10)

25

In [48]:
def testf_add(*mt):
    return sum(mt)

In [49]:
testf_add(2,2,2,2)

8

In [50]:
def minimum_func(*var):
    return min(var)

In [51]:
minimum_func(100,40,20,65,10,2,90)

2

In [52]:
minimum_func(50,20,48)

20

In [53]:
minimum_func(12,5)

5

In [54]:
def maximum_func(*variable):
    return max(variable)

In [55]:
maximum_func(100,40,68,34,15,80)

100

In [56]:
maximum_func(50,20,90)

90

In [ ]:
In this we cannot use STRING DATA.

In [ ]:
s=s+n      #s+=n  both are same

In [60]:

s=10
n=2

s=s+n
s

12

In [61]:
s+=n

In [62]:
s

14

In [66]:
def sumfunc(*numbers):
    s=0
    for n in numbers:
        s+=n
    return s

In [67]:
print(sumfunc(1,2))

3

In [68]:
sumfunc(1,2)

3

In [69]:
print(sumfunc(1,2,3))

6

In [70]:
retvalue=sumfunc(1,2)

In [71]:
retvalue

3